#inp1{
            
    font-size: 40px;
              }
                input{
                    width: 80px;
                    height: 60px;
                }
                #equal{
                    color: white;
                    width: 170px;
                }